#lists, #saved_searches {
	list-style-type: none;
	margin: 0;
}

#lists li, #saved_searches li {
	margin: 0;
	padding: 0;
}


.list_link 
{
	font-size: 1.4em;
	padding: .5em 0 .5em .5em ;
	display: block;
}

.list_link:active
{
	background: #2f2f2f;
}